{% extends "baseMain.html" %}
{% block title %}Page Not Found{% endblock %}
{% block css %}
<link href="{{url_for('static', filename='/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='/css/variables-pink.css')}}" rel="stylesheet">
<style>
	/*--------------------------------------------------------------
# Error 404
--------------------------------------------------------------*/
	.container {
		--bs-gutter-x: 10em;
	}

	.error-404 {
		padding-bottom: 30px;
	}

	.error-404 h1 {
		font-size: 150px;
		font-weight: 700;
		line-height: 1;
		color: var(--bs-blue);
		margin-bottom: 0;
		padding: 0;
	}

	.error-404 h2 {
		font-size: 24px;
		font-weight: 700;
		color: var(--bs-indigo);
		margin-bottom: 30px;
	}

	.error-404 .btn {
		background: var(--bs-gray-600);
		color: var(--bs-white);
		padding: 8px 30px;
	}

	.error-404 .btn:hover {
		background: var(--bs-link-hover-color);
	}

	@media (min-width: 992px) {
		.error-404 img {
			max-width: 50%;
		}
	}

	* {
		overflow: hidden;
	}
</style>
{% endblock %}
{% block header %}{% endblock %}
{% block sidebar %}{% endblock %}
{% block content %}
<main>
	<div class="container">
		<section class="error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
			<h1>404</h1>
			<h2>The page you are looking for doesn't exist.</h2>
			<a class="btn" href="dashboard">Back to home</a>
			<img src="{{url_for('static', filename='img/not-found.svg')}}" class="img-fluid py-5" alt="Page Not Found">
		</section>

	</div>
</main>{% endblock %}